.header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: $max-page-width;
    
    // Use top padding to compensate for the navigation bar spacing and to ensure the
    // element to which we navigate is completely visible.
    padding-top: 6rem;

    @media (min-width: $breakpoint-medium) {
        margin-bottom: 8rem;
    }

    .custom-navbar {
        display: none;
    }

    &-title {
        font-size: 3rem;
        font-weight: bold;
        color: $primary;
    }

    &-subtitle {
        opacity: .8;
        color: $body-color;
    }

    &-subscript {
        font-size: 1.25rem;
        font-style: italic;
    }

    .header-content {    
        display: flex;
        flex-direction: column;

        .me {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;

            @media (min-width: $breakpoint-medium) {
                flex-direction: row;
                align-items: flex-start;
            }

            .my-work-button {
                @media (min-width: $breakpoint-medium) {
                    margin-top: 1rem;
                    align-self: start;
                }

                a {
                    padding: 0.5rem 1rem;
                    border-radius: 24rem;
                }
            }

            & > .my-work-button {
                display: block;
                flex: 100%;
                align-self: center;
                margin-top: 4rem;

                @media (min-width: $breakpoint-medium) {
                    display: none;
                }

                a {
                    padding: 0.5rem 1rem;
                    border-radius: 24rem;
                }
            }

            & > .company-logos {
                display: flex;
                flex-direction: column;

                @media (min-width: $breakpoint-medium) {
                    display: none;
                }
            }

            .me-text {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-right: 1rem;

                .my-work-button, .company-logos {
                    display: none;
                }

                @media (min-width: $breakpoint-medium) {
                    flex: 2;

                    .my-work-button {
                        display: block;
                    }

                    .company-logos {
                        display: flex;
                        flex-direction: row;
                    }
                }
            }

            .me-photo {
                flex: 1;
                padding: 0 2rem;
                margin-top: 4rem;
                max-width: 24rem;

                @media (min-width: $breakpoint-medium) {
                    padding: 0;
                    margin-top: 0;
                }

                .about-img {
                    max-width: 100%;
                    border-radius: 50%;
                    border-color: $primary;
                    border-width: 4px;
                    border-style: solid;

                    @media (min-width: $breakpoint-medium) {
                        box-shadow: 0 0 16px rgba(0,0,0,.5);
                    }
                }
            }

            .company-logos {
                flex-wrap: wrap;
                align-items: center;

                & > img {
                    opacity: 0.5;
                    max-width: 10rem;
                    margin-top: 2rem;
                    filter: grayscale(100%);

                    @media (min-width: $breakpoint-medium) {
                        margin-right: 4rem;
                    }
                }
            }
        }
    }
}
