.project-description {
    margin-bottom: 4rem;

    a {
        font-weight: bold;
    }
}

.project-info {
    margin-bottom: 4rem;

    .item {
        margin-top: 1rem;
        margin-bottom: 2rem;

        .title {
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 0.2rem;
        }
    }
}

.main-project-image {
    max-width: 100%;
    margin-bottom: 2rem;
}

.project-image {
    max-width: 100%;
    padding: 1rem;
}

.external-link {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
}
