.section {
    max-width: 64rem;
    margin: 2rem auto 0 auto;
    padding: 4rem 1.5rem 0 1.5rem;

    .section-title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .section-subtitle {
        margin-bottom: 6px;
        font-weight: 400;
        opacity: .6;
    }

    p {
        text-align: justify;
    }

    &-sm {
        padding: 40px 0 !important;
    }

    &-md {
        padding: 60px 0 !important;
    } 

    &-lg {
        padding: 100px 0 !important;
    } 
}

.items-row {
    margin-top: 2rem;

    .item-wrapper {
        margin-bottom: 2rem;
        text-align: center;

        .item-icon {
            width: 8rem;
            height: 8rem;
            margin-bottom: 1rem;
            opacity: 0.75;

            &-padding {
                padding: 1rem;
            }
    
            &-padding-large {
                padding: 1.5rem;
            }
        }

        .item-name {
            text-align: center;
        }
    }
}

.service-wrapper {
    margin-bottom: 2rem;
}

.skills-row {
    margin-top: 2rem;
}

.skill-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    }

    .skill-icon {
        width: 4rem;
        height: 4rem;
        opacity: 0.75;
        padding: 0.5rem;
        margin-right: 0.5rem;

        &-padding {
            padding: 0.75rem;
        }

        &-padding-large {
            padding: 1rem;
        }

        @media (min-width: map-get($grid-breakpoints, "sm")) {
            width: 8rem;
            height: 8rem;
            margin-bottom: 1rem;

            &-padding {
                padding: 1rem;
            }

            &-padding-large {
                padding: 1.5rem;
            }
        }
    }

    .skill-name {
        margin-bottom: 0;
        text-align: left;

        @media (min-width: map-get($grid-breakpoints, "sm")) {
            text-align: center;

            &-part {
                display: block;
            }

            &-divider {
                display: none;
            }
        }
    }
}

.project-wrapper {
    margin-bottom: 4rem;

    .project-image {
        max-width: 100%;
    }

    .project-description {
        text-align: justify;
    }
}
